certifi==2018.4.16
chardet==3.0.4
click==6.7
cycler==0.10.0
Cython==0.28.3
dash==0.21.1
dash-auth==1.0.1
dash-core-components==0.23.0
dash-html-components==0.11.0
dash-renderer==0.13.0
decorator==4.3.0
Flask==1.0.2
Flask-Compress==1.4.0
Flask-SeaSurf==0.2.2
gast==0.2.0
grpcio==1.13.0
gunicorn==19.9.0
h5py==2.8.0
icc-rt==2018.0.3
idna==2.6
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
numpy==1.14.4
Pillow==5.2.0
Pillow-PIL==0.1.dev0
plotly==2.7.0
tensorflow-gpu==1.9.0
